html {

}

h1 {
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

a {
    color: black;
}

header {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

nav {
	display: flex;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
}

.logo span {
	color: MediumAquamarine;
}

